# Data Cleaning - Nashville Housing

In [1]:
# Import all necessary libraries

import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline 

import seaborn as sns
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

import datetime
import calendar

In [2]:
# Read dataset

df = pd.read_csv('Nashville Housing.csv')

df.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE","April 9, 2013",240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE","June 10, 2014",366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE","September 26, 2016",435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE","January 29, 2016",255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE","October 10, 2014",278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0

## Tasks:

    -> Standardize Date Format []
    -> Get and delete all the NULL fields []
    -> Finding Duplicates []
    -> Change all the 'Y' into 'Yes' & 'N' into 'No' []
    -> Change the datatype of 'YearBuilt' (Float to Integer) []

In [3]:
df.shape

(56477, 19)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56477 entries, 0 to 56476
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UniqueID         56477 non-null  int64
 1   ParcelID         56477 non-null  object
 2   LandUse          56477 non-null  object
 3   PropertyAddress  56448 non-null  object
 4   SaleDate         56477 non-null  object
 5   SalePrice        56477 non-null  object
 6   LegalReference   56477 non-null  object
 7   SoldAsVacant     56477 non-null  object
 8   OwnerName        25261 non-null  object
 9   OwnerAddress     26015 non-null  object
 10  Acreage          26015 non-null  float64
 11  TaxDistrict      26015 non-null  object
 12  LandValue        26015 non-null  float64
 13  BuildingValue    26015 non-null  float64
 14  TotalValue       26015 non-null  float64
 15  YearBuilt        24163 non-null  float64
 16  Bedrooms         24157 non-null  float64
 17  FullBath         24275 non-null  float64
 18  HalfBath         24144 non-null  float64
dtypes: float64(8), int64(1), object(10)
memory usage: 8.2+ MB

In [5]:
df.describe()

,UniqueID,Acreage,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
count,56477.000000,26015.000000,2.601500e+04,2.601500e+04,2.601500e+04,24163.000000,24157.000000,24275.000000,24144.000000
mean,28334.001133,0.498923,6.906856e+04,1.607847e+05,2.323754e+05,1963.744899,3.089912,1.886014,0.283921
std,16352.590651,1.570454,1.060401e+05,2.067999e+05,2.810643e+05,26.542982,0.852869,0.961515,0.487881
min,0.000000,0.010000,1.000000e+02,0.000000e+00,1.000000e+02,1799.000000,0.000000,0.000000,0.000000
25%,14186.000000,0.180000,2.100000e+04,7.590000e+04,1.028000e+05,1948.000000,3.000000,1.000000,0.000000
50%,28313.000000,0.270000,2.880000e+04,1.114000e+05,1.485000e+05,1960.000000,3.000000,2.000000,0.000000
75%,42513.000000,0.450000,6.000000e+04,1.807000e+05,2.683500e+05,1983.000000,3.000000,2.000000,1.000000
max,56635.000000,160.060000,2.772000e+06,1.297180e+07,1.394040e+07,2017.000000,11.000000,10.000000,3.000000

In [6]:
df.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE","April 9, 2013",240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE","June 10, 2014",366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE","September 26, 2016",435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE","January 29, 2016",255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE","October 10, 2014",278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0

---

## Task 1: Standardize Date Format

In [7]:
# Standardize date format (yyyy-mm-dd)

df['SaleDate'] = pd.to_datetime(df["SaleDate"]).dt.strftime("%Y-%m-%d")
df.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0

In [8]:
# Separate year

df['Year'] = pd.DatetimeIndex(df['SaleDate']).year
df.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,Year
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0,2013
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0,2014
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0,2016
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0,2016
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0,2014

In [9]:
# Separate month

df['Month'] = pd.DatetimeIndex(df['SaleDate']).month
df.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,Year,Month
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",...,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0,2013,4
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",...,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0,2014,6
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",...,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0,2016,9
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",...,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0,2016,1
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",...,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0,2014,10

In [10]:
df['Month'] = df['Month'].apply(lambda x: calendar.month_name[x])
df.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,Year,Month
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",...,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0,2013,April
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",...,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0,2014,June
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",...,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0,2016,September
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",...,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0,2016,January
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",...,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0,2014,October

In [11]:
# Get the Quarter

df['Quarter'] = pd.DatetimeIndex(df['SaleDate']).quarter
df.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,Year,Month,Quarter
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0,2013,April,2
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0,2014,June,2
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0,2016,September,3
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0,2016,January,1
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0,2014,October,4

---

## Task 2: NULL rows

In [12]:
# Field with NULL values
# axis = 1 -> horizontally

df.isnull().sum()

UniqueID               0
ParcelID               0
LandUse                0
PropertyAddress       29
SaleDate               0
SalePrice              0
LegalReference         0
SoldAsVacant           0
OwnerName          31216
OwnerAddress       30462
Acreage            30462
TaxDistrict        30462
LandValue          30462
BuildingValue      30462
TotalValue         30462
YearBuilt          32314
Bedrooms           32320
FullBath           32202
HalfBath           32333
Year                   0
Month                  0
Quarter                0
dtype: int64

In [13]:
# Drop the rows with NULL 
# 'How' parameter for any single NULL value in a field

#df = df.dropna(how = 'any')

In [14]:
# Check

#df[df.isna().any(axis = 1)]

---

## Task 3: Find Duplicated Fields

In [15]:
df.duplicated().any()

False

In [16]:
# Checks all the fields with duplicated fields

duplicated_df = df[df[['ParcelID' , 'SaleDate' , 'SalePrice', 'PropertyAddress' , 'OwnerName']].duplicated(keep = False)]
duplicated_df

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,Year,Month,Quarter
916,48760,034 05 0 041.00,SINGLE FAMILY,"512 MONICA AVE, GOODLETTSVILLE",2016-05-13,172500,20160520-0050464,No,"ESPOSITO, PAMELA A. & HOFMANN, JEANETTE M.","512 MONICA AVE, GOODLETTSVILLE, TN",...,22000.0,110800.0,132800.0,1962.0,4.0,1.0,1.0,2016,May,2
917,48761,034 05 0 041.00,SINGLE FAMILY,"512 MONICA AVE, GOODLETTSVILLE",2016-05-13,172500,20160652-0005046,No,"ESPOSITO, PAMELA A. & HOFMANN, JEANETTE M.","512 MONICA AVE, GOODLETTSVILLE, TN",...,22000.0,110800.0,132800.0,1962.0,4.0,1.0,1.0,2016,May,2
1425,26242,042 03 0 023.00,SINGLE FAMILY,"918 WOODS LAKE DR, MADISON",2015-01-28,164900,20150130-0008884,No,"TORRES, ROBERTO RAMOS","918 WOODS LAKE DR, MADISON, TN",...,24500.0,102500.0,127000.0,1958.0,2.0,1.0,0.0,2015,January,1
1426,26243,042 03 0 023.00,SINGLE FAMILY,"918 WOODS LAKE DR, MADISON",2015-01-28,164900,20150130-0008883,No,"TORRES, ROBERTO RAMOS","918 WOODS LAKE DR, MADISON, TN",...,24500.0,102500.0,127000.0,1958.0,2.0,1.0,0.0,2015,January,1
2844,28170,050 02 0 020.00,DUPLEX,"3720 WILLOW CREEK RD, NASHVILLE",2015-03-06,65000,20150310-0020497,No,"PANDORA PROPERTIES, LLC","3720 WILLOW CREEK RD, NASHVILLE, TN",...,12000.0,41500.0,53500.0,1984.0,4.0,2.0,0.0,2015,March,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54018,27402,176 01 0 017.00,SINGLE FAMILY,"3848 ROUND ROCK DR, ANTIOCH",2015-02-13,152000,20150220-0014969,No,"PROGRESS RESIDENTIAL 2015-3 BORROWER, LLC","3848 ROUND ROCK DR, ANTIOCH, TN",...,25000.0,107700.0,132700.0,1996.0,3.0,2.0,0.0,2015,February,1
54048,26778,176 01 0A 104.00,SINGLE FAMILY,"6829 HICKORY RIM CT, ANTIOCH",2015-02-20,185000,20150226-0016625,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,February,1
54049,27403,176 01 0A 104.00,SINGLE FAMILY,"6829 HICKORY RIM CT, ANTIOCH",2015-02-20,185000,20150226-0016625,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,February,1
54143,26781,176 05 0B 007.00,SINGLE FAMILY,"500 HICKORY WOODS WAY, ANTIOCH",2015-02-02,137500,20150204-0010405,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,February,1
54144,27404,176 05 0B 007.00,SINGLE FAMILY,"500 HICKORY WOODS WAY, ANTIOCH",2015-02-02,137500,20150204-0010405,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,February,1

In [17]:
df = df[~df[['ParcelID' , 'SaleDate' , 'SalePrice', 'PropertyAddress' , 'OwnerName']].duplicated(keep = False)]
df

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,Year,Month,Quarter
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0,2013,April,2
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0,2014,June,2
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0,2016,September,3
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0,2016,January,1
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0,2014,October,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,188 10 0A 101.00,SINGLE FAMILY,"1435 WINDING CREEK DR, NOLENSVILLE",2015-05-27,157500,20150608-0053286,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,May,2
56473,27707,188 10 0A 107.00,SINGLE FAMILY,"1423 WINDING CREEK DR, NOLENSVILLE",2015-03-02,145000,20150304-0019013,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,March,1
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,"1804 GRACE POINT LN, NOLENSVILLE",2016-08-16,234611,20160819-0087214,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016,August,3
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,"1709 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016,September,3
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,"1713 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016,September,3

---

## Task 4: Change all the 'Y' into 'Yes' & 'N' into 'No'

In [18]:
# Check whether there is Y supposed to Yes 

df.loc[df['SoldAsVacant'] == 'Y']

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,Year,Month,Quarter
1416,2058,042 02 0 001.00,SINGLE FAMILY,"832 FONNIC DR, NASHVILLE",2013-04-17,18000,20130422-0039394,Y,"JOHNSON, ADRIEL DULAND JR.","832 FONNIC DR, NASHVILLE, TN",...,58400.0,171000.0,229400.0,2013.0,3.0,2.0,0.0,2013,April,2
1912,38341,043 08 0 001.00,VACANT RESIDENTIAL LAND,"113 SHELBY ST, OLD HICKORY",2015-09-16,18000,20150921-0095791,Y,"THIEL, ROD","113 SHELBY ST, OLD HICKORY, TN",...,17000.0,0.0,17000.0,NaN,NaN,NaN,NaN,2015,September,3
2322,43136,043 16 0 128.00,MOBILE HOME,"1224 BUBBLING WELL RD, MADISON",2016-01-15,17000,20160129-0009059,Y,"ENFIELD PROPERTIES, LLC","1224 BUBBLING WELL RD, MADISON, TN",...,15000.0,0.0,25000.0,NaN,NaN,NaN,NaN,2016,January,1
3413,4572,052 01 0 178.00,DUPLEX,"253 ROBINWOOD AVE, MADISON",2013-06-03,18000,20130604-0056070,Y,"WOOD, KRISTINA L.","253 ROBINWOOD AVE, MADISON, TN",...,20000.0,131800.0,158800.0,1955.0,6.0,4.0,0.0,2013,June,2
4183,38365,053 08 0 148.00,VACANT RESIDENTIAL LAND,"2206 LAKESHORE DR, OLD HICKORY",2015-09-29,16500,20150929-0098888,Y,"EDWARDS, ROBERT S. JR & ELIZABETH C.","2206 LAKESHORE DR, OLD HICKORY, TN",...,15000.0,0.0,15000.0,NaN,NaN,NaN,NaN,2015,September,3
4503,11849,054 13 0 151.00,RESIDENTIAL COMBO/MISC,"227 ANTHONY ST, OLD HICKORY",2014-01-23,18000,20140130-0008404,Y,CALLIGAN FAMILY LIMITED PARTNERSHIP,"227 ANTHONY ST, OLD HICKORY, TN",...,35000.0,0.0,35000.0,NaN,NaN,NaN,NaN,2014,January,1
4722,36465,058 16 0 033.00,VACANT RESIDENTIAL LAND,"4019 MEADOW RD, NASHVILLE",2015-08-07,18000,20150818-0083262,Y,"NESMITH, PHILLIP & THOMPSON, MICHAEL","4019 MEADOW RD, NASHVILLE, TN",...,20000.0,0.0,20000.0,NaN,NaN,NaN,NaN,2015,August,3
5286,31067,060 13 0 140.00,SINGLE FAMILY,"2726 COMBS DR, NASHVILLE",2015-05-21,17000,20150528-0049163,Y,"HANIFAN, SHAUN P.","2726 COMBS DR, NASHVILLE, TN",...,11000.0,54500.0,65500.0,1972.0,3.0,1.0,0.0,2015,May,2
5312,12441,060 16 0 070.00,SINGLE FAMILY,"2810 BRUNSWICK DR, NASHVILLE",2014-02-28,16500,20140305-0018604,Y,"HUMPHREY, THERON J. JR","2810 BRUNSWICK DR, NASHVILLE, TN",...,20000.0,0.0,20000.0,NaN,NaN,NaN,NaN,2014,February,1
5314,12442,060 16 0 071.00,VACANT RES LAND,"2808 BRUNSWICK DR, NASHVILLE",2014-02-28,16500,20140305-0018604,Y,"HUMPHREY, THERON J. JR","2808 BRUNSWICK DR, NASHVILLE, TN",...,10000.0,0.0,10000.0,NaN,NaN,NaN,NaN,2014,February,1
7576,21295,070 09 0 024.00,VACANT RESIDENTIAL LAND,"3304 CURTIS ST, NASHVILLE",2014-09-19,16500,20140922-0086860,Y,"RAJOTTE, ERIC J.","3304 CURTIS ST, NASHVILLE, TN",...,18000.0,59800.0,77800.0,1961.0,2.0,1.0,0.0,2014,September,3
7849,27206,071 08 0 011.00,VACANT RESIDENTIAL LAND,"332 QUEEN AVE, NASHVILLE",2015-02-13,17500,20150224-0015875,Y,"WHITWORTH, MICHAEL D. & STACI E. & DAVID","332 QUEEN AVE, NASHVILLE, TN",...,10000.0,108800.0,118800.0,2015.0,3.0,2.0,0.0,2015,February,1
7862,18460,071 08 0 039.00,VACANT RESIDENTIAL LAND,"336 DUKE ST, NASHVILLE",2014-07-21,17529,20140804-0069510,Y,"JH103, LLC","336 DUKE ST, NASHVILLE, TN",...,10000.0,0.0,10000.0,NaN,NaN,NaN,NaN,2014,July,3
9909,718,072 13 0 253.00,VACANT RES LAND,"921 DOUGLAS AVE, NASHVILLE",2013-02-06,17500,20130208-0013432,Y,"MILLER, JOHN B. & ANNA MARGARET","921 DOUGLAS AVE, NASHVILLE, TN",...,18200.0,287400.0,307100.0,2013.0,4.0,3.0,0.0,2013,February,1
11628,7281,075 13 0 060.00,VACANT RES LAND,"258 BONNALYNN DR, HERMITAGE",2013-08-02,17000,20130807-0082831,Y,"HOLLIS, JULIE A. & MILLER, JACOB C.","258 BONNALYNN DR, HERMITAGE, TN",...,21000.0,93200.0,114200.0,2014.0,3.0,2.0,0.0,2013,August,3
11802,46857,080 04 0 083.00,SINGLE FAMILY,"3109 DOAK AVE, NASHVILLE",2016-04-29,16750,20160429-0042278,Y,"MCCALLISTER, MONIQUE M.","3109 DOAK AVE, NASHVILLE, TN",...,18000.0,103100.0,121100.0,2016.0,5.0,2.0,0.0,2016,April,2
11907,3166,081 02 0 084.00,SINGLE FAMILY,"1732 KELLOW ST, NASHVILLE",2013-05-15,18000,20130522-0051746,Y,"HALL, LARRY E.","1732 KELLOW ST, NASHVILLE, TN",...,11000.0,38700.0,53200.0,1910.0,2.0,1.0,0.0,2013,May,2
12115,14343,081 06 0 447.00,SINGLE FAMILY,"2307 ST LOUIS ST, NASHVILLE",2014-04-09,16750,20140414-0031151,Y,"HUNT, KIRT","2307 ST LOUIS ST, NASHVILLE, TN",...,11000.0,42600.0,53600.0,1940.0,2.0,1.0,0.0,2014,April,2
12235,211,081 07 0 395.00,SINGLE FAMILY,"1817 CEPHAS ST, NASHVILLE",2013-01-10,17000,20130114-0004089,Y,"SCALINI, LLC","1817 CEPHAS ST, NASHVILLE, TN",...,11000.0,52500.0,63500.0,1930.0,3.0,1.0,0.0,2013,January,1
12257,18258,081 07 0 473.00,VACANT RESIDENTIAL LAND,"1911 10TH AVE N, NASHVILLE",2014-07-02,17000,20140711-0061205,Y,H & B DEVELOPMENT PARTNERS,"1911 10TH AVE N, NASHVILLE, TN",...,11000.0,0.0,11000.0,NaN,NaN,NaN,NaN,2014,July,3
12364,8286,081 08 0 321.00,SINGLE FAMILY,"819 BUCHANAN ST, NASHVILLE",2013-09-13,18000,20130918-0098386,Y,"KIANI, SANAZ","819 BUCHANAN ST, NASHVILLE, TN",...,40000.0,129900.0,169900.0,1920.0,3.0,2.0,0.0,2013,September,3
12682,15466,081 11 0 423.00,VACANT RES LAND,"1722 14TH AVE N, NASHVILLE",2014-05-02,17000,20140506-0038409,Y,"DEEP RIVER DEVELOPMENT, LLC","1722 14TH AVE N, NASHVILLE, TN",...,13000.0,0.0,13000.0,NaN,NaN,NaN,NaN,2014,May,2
13100,3174,081 15 0 066.00,SINGLE FAMILY,"1522 22ND AVE N, NASHVILLE",2013-05-31,17000,20130604-0056519,Y,"LAMON, LESLEE","1522 22ND AVE N, NASHVILLE, TN",...,13000.0,79100.0,92100.0,1940.0,3.0,2.0,0.0,2013,May,2
13104,14353,081 15 0 096.00,SINGLE FAMILY,"1411 21ST AVE N, NASHVILLE",2014-04-17,17000,20140423-0033931,Y,"RUIZ, NUBE SILVANA","1411 21ST AVE N, NASHVILLE, TN",...,13000.0,104700.0,117700.0,1935.0,3.0,1.0,0.0,2014,April,2
13152,36362,081 15 0 277.00,VACANT RESIDENTIAL LAND,"1410 16TH AVE N, NASHVILLE",2015-08-13,18000,20150818-0083274,Y,"CHAPMAN DEVELOPMENT, LLC","1410 16TH AVE N, NASHVILLE, TN",...,13000.0,0.0,13000.0,NaN,NaN,NaN,NaN,2015,August,3
14604,15700,082 16 0 192.00,SINGLE FAMILY,"815 FATHERLAND ST, NASHVILLE",2014-05-05,17500,20140512-0040602,Y,"TUCK, BRET L. & KATHRYN C.","815 FATHERLAND ST, NASHVILLE, TN",...,125000.0,390600.0,525800.0,2014.0,4.0,3.0,0.0,2014,May,2
18397,13272,091 04 0 050.00,VACANT RES LAND,"0 40TH AVE N, NASHVILLE",2014-03-10,500,20140403-0027813,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014,March,1
19954,1189,092 05 0 314.00,SINGLE FAMILY,"3206 TORBETT ST, NASHVILLE",2013-03-14,17700,20130320-0027488,Y,"KHAZANOV, MAX","3206 TORBETT ST, NASHVILLE, TN",...,13000.0,45400.0,58400.0,1930.0,2.0,1.0,0.0,2013,March,1
19999,11477,092 06 0 361.00,TRIPLEX,"738 29TH AVE N, NASHVILLE",2014-01-10,16960,20140115-0004032,Y,"DORROLL, NICK","738 29TH AVE N, NASHVILLE, TN",...,11000.0,93300.0,104300.0,1973.0,4.0,3.0,0.0,2014,January,1
20007,10421,092 06 0 421.00,SINGLE FAMILY,"808 28TH AVE N, NASHVILLE",2013-12-30,17000,20140109-0002310,Y,"DENALI PROPERTIES, LLC","808 28TH AVE N, NASHVILLE, TN",...,9000.0,12000.0,22000.0,1950.0,2.0,0.0,0.0,2013,December,4
20021,7682,092 06 0 507.00,SINGLE FAMILY,"2706 BOOKER ST, NASHVILLE",2013-09-20,16500,20130924-0100191,Y,"GRAY, KENNETH L.","2706 BOOKER ST, NASHVILLE, TN",...,9000.0,22900.0,31900.0,1948.0,2.0,1.0,0.0,2013,September,3
20039,88,092 06 0 622.00,VACANT RES LAND,"729 25TH AVE N, NASHVILLE",2013-01-16,17000,20130118-0006354,Y,"DESPERADO PROPERTIES, LLC","729 25TH AVE N, NASHVILLE, TN",...,11000.0,0.0,11000.0,NaN,NaN,NaN,NaN,2013,January,1
20042,89,092 06 0 657.01,VACANT RES LAND,"732 25TH AVE N, NASHVILLE",2013-01-16,17000,20130118-0006354,Y,"DESPERADO PROPERTIES, LLC","732 25TH AVE N, NASHVILLE, TN",...,11000.0,0.0,11000.0,NaN,NaN,NaN,NaN,2013,January,1
20043,32961,092 06 0 692.00,VACANT RESIDENTIAL LAND,"3026 BATAVIA ST, NASHVILLE",2015-06-05,16750,20150609-0054389,Y,"IRA INNOVATIONS, LLC","3026 BATAVIA ST, NASHVILLE, TN",...,13000.0,0.0,13000.0,NaN,NaN,NaN,NaN,2015,June,2
20090,4461,092 09 0 014.00,VACANT RES LAND,"609 39TH AVE N, NASHVILLE",2013-06-24,18000,20130626-0065611,Y,CROSS POINT COMMUNITY CHURCH,"609 39TH AVE N, NASHVILLE, TN",...,20000.0,0.0,20000.0,NaN,NaN,NaN,NaN,2013,June,2
27665,14958,105 03 0 130.00,SINGLE FAMILY,"47 WHARF AVE, NASHVILLE",2014-05-27,17500,20140527-0045264,Y,"MCCLAIN, ERNEST","47 WHARF AVE, NASHVILLE, TN",...,10000.0,0.0,10000.0,NaN,NaN,NaN,NaN,2014,May,2
29140,11905,107 13 0A 041.00,RESIDENTIAL CONDO,"941 COARSEY DR, NASHVILLE",2014-01-06,17000,20140108-0002021,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014,January,1
33913,8234,119 04 0 016.00,VACANT RES LAND,"309 WIMPOLE DR, NASHVILLE",2013-09-13,17000,20130916-0097069,Y,"COMMODORE HOLDINGS, LLC","309 WIMPOLE DR, NASHVILLE, TN",...,23000.0,0.0,23000.0,NaN,NaN,NaN,NaN,2013,September,3
38478,8346,133 05 0 011.00,VACANT RES LAND,"518 VERITAS ST, NASHVILLE",2013-10-11,18000,20131014-0107183,Y,"LEX & CO., LLC","518 VERITAS ST, NASHVILLE, TN",...,16000.0,0.0,16000.0,NaN,NaN,NaN,NaN,2013,October,4
38930,20546,133 16 0A 010.00,RESIDENTIAL CONDO,"270 TAMPA DR, NASHVILLE",2014-09-26,18000,20140930-0090120,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014,September,3
38981,33907,133 16 0A 085.00,RESIDENTIAL CONDO,"270 TAMPA DR, NASHVILLE",2015-07-22,18000,20150727-0073772,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,July,3
39000,33908,133 16 0A 103.00,RESIDENTIAL CONDO,"270 TAMPA DR, NASHVILLE",2015-07-22,18000,20150727-0073772,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,July,3
39189,11918,135 00 0 182.00,SINGLE FAMILY,"2416 SMITH SPRINGS RD, NASHVILLE",2014-01-17,17000,20140121-0005470,Y,"JOHNSON, CRAIG A. & PAM T.","2416 SMITH SPRINGS RD, NASHVILLE, TN",...,28500.0,0.0,28500.0,NaN,NaN,NaN,NaN,2014,January,1
39685,47529,136 00 0 047.00,SINGLE FAMILY,"2649 SMITH SPRINGS RD, NASHVILLE",2016-04-08,18000,20160411-0034456,Y,"STURDIVANT PROPERTY PROS, PLLC","2649 SMITH SPRINGS RD, NASHVILLE, TN",...,24000.0,25500.0,49500.0,1944.0,2.0,1.0,0.0,2016,April,2
43789,55395,148 05 0 177.00,VACANT RESIDENTIAL LAND,"354 LEO LN, NASHVILLE",2016-10-20,18000,20161025-0112557,Y,"IDEAL SOLUTIONS, LLS","354 LEO LN, NASHVILLE, TN",...,26000.0,0.0,26000.0,NaN,NaN,NaN,NaN,2016,October,4
44807,56524,150 01 0 225.00,SINGLE FAMILY,"2817 CREEKVIEW DR, NASHVILLE",2016-10-28,17500,20161031-0114632,Y,"GOMEZ, JOSE","2817 CREEKVIEW DR, NASHVILLE, TN",...,24000.0,104700.0,128700.0,1972.0,3.0,2.0,0.0,2016,October,4
45501,10141,150 14 0B 007.00,VACANT RES LAND,"3725 LIPTON PL, ANTIOCH",2013-11-07,17000,20131112-0116674,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,November,4
45502,11940,150 14 0B 008.00,VACANT RES LAND,"3729 LIPTON PL, ANTIOCH",2014-01-29,17000,20140131-0008738,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014,January,1
45503,15952,150 14 0B 008.00,VACANT RES LAND,"3729 LIPTON PL, ANTIOCH",2014-05-27,17000,20140530-0046754,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014,May,2
49166,2459,163 02 0B 073.00,VACANT RES LAND,"232 TOOK DR, ANTIOCH",2013-04-12,18000,20130416-0037692,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,April,2
49167,9259,163 02 0B 073.00,VACANT RES LAND,"232 TOOK DR, ANTIOCH",2013-10-28,18000,20131101-0113761,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,October,4
49173,2460,163 02 0B 079.00,VACANT RES LAND,"264 TOOK DR, ANTIOCH",2013-04-12,18000,20130416-0037676,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,April,2

In [19]:
# Check whether there is N supposed to No 

df.loc[df['SoldAsVacant'] == 'N']

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,Year,Month,Quarter
60,8903,018 00 0 164.00,VACANT RES LAND,"332 MONCRIEF AVE, GOODLETTSVILLE",2013-10-25,25000,20131028-0111686,N,"BRUCE, WILLIAM JEFFREY & REBECCA LYNN","332 MONCRIEF AVE, GOODLETTSVILLE, TN",...,24000.0,175900.0,199900.0,2014.0,3.0,2.0,0.0,2013,October,4
76,22715,018 07 0 062.00,VACANT RESIDENTIAL LAND,"507 MATHES CT, GOODLETTSVILLE",2014-10-14,25000,20141015-0095213,N,"HAMPTON, DANA N. & VERONICA C.","507 MATHES CT, GOODLETTSVILLE, TN",...,28000.0,207600.0,235600.0,2015.0,3.0,2.0,0.0,2014,October,4
139,50587,025 03 0 032.00,VACANT RESIDENTIAL LAND,"435 MONCRIEF AVE, GOODLETTSVILLE",2016-06-08,24400,20160616-0061051,N,"PEGRAM, RAYMOND & MARY","435 MONCRIEF AVE, GOODLETTSVILLE, TN",...,28100.0,0.0,28100.0,NaN,NaN,NaN,NaN,2016,June,2
203,51972,025 16 0 020.00,VACANT RESIDENTIAL LAND,"0 DICKERSON PIKE, GOODLETTSVILLE",2016-07-08,30000,20160711-0070378,N,"DAVENPORT, MICHAEL G.","0 DICKERSON PIKE, GOODLETTSVILLE, TN",...,30800.0,0.0,30800.0,NaN,NaN,NaN,NaN,2016,July,3
218,23914,026 01 0 050.00,VACANT RESIDENTIAL LAND,"130 EAST AVE, GOODLETTSVILLE",2014-11-12,24900,20141114-0105388,N,"MARSHALL, JULIE M.","130 EAST AVE, GOODLETTSVILLE, TN",...,21100.0,156200.0,177300.0,1975.0,3.0,2.0,0.0,2014,November,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55869,969,182 12 0A 136.00,VACANT RES LAND,"7404 GOLDEN APPLE DR, ANTIOCH",2013-03-14,25000,20130318-0026750,N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,March,1
55872,7669,182 12 0A 139.00,VACANT RES LAND,"809 CRAB APPLE CV, ANTIOCH",2013-09-25,25000,20131001-0102754,N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,September,3
55874,2745,182 12 0A 140.00,SINGLE FAMILY,"805 CRAB APPLE CV, ANTIOCH",2013-05-02,25000,20130503-0044720,N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,May,2
55878,2746,182 12 0A 143.00,VACANT RES LAND,"7413 GOLDEN APPLE DR, ANTIOCH",2013-05-02,25000,20130503-0044728,N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,May,2
55888,7670,182 12 0A 150.00,VACANT RES LAND,"904 APPLE BLOSSOM CT, ANTIOCH",2013-09-25,25000,20131001-0102747,N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,September,3

In [20]:
# Change the value of Y into Yes

df.loc[df['SoldAsVacant'] == 'Y' , 'SoldAsVacant'] = 'Yes'

In [21]:
# Check

df.loc[df['SoldAsVacant'] == 'Y']

Empty DataFrame
Columns: [UniqueID , ParcelID, LandUse, PropertyAddress, SaleDate, SalePrice, LegalReference, SoldAsVacant, OwnerName, OwnerAddress, Acreage, TaxDistrict, LandValue, BuildingValue, TotalValue, YearBuilt, Bedrooms, FullBath, HalfBath, Year, Month, Quarter]
Index: []

[0 rows x 22 columns]

In [22]:
# Change the value of N into No

df.loc[df['SoldAsVacant'] == 'N' , 'SoldAsVacant'] = 'No'

In [23]:
# Check

df.loc[df['SoldAsVacant'] == 'N']

Empty DataFrame
Columns: [UniqueID , ParcelID, LandUse, PropertyAddress, SaleDate, SalePrice, LegalReference, SoldAsVacant, OwnerName, OwnerAddress, Acreage, TaxDistrict, LandValue, BuildingValue, TotalValue, YearBuilt, Bedrooms, FullBath, HalfBath, Year, Month, Quarter]
Index: []

[0 rows x 22 columns]

---

## Task 5: Change 'YearBuilt' DataType

Reason: `YearBuilt` is in Float

In [24]:
df.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,Year,Month,Quarter
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0,2013,April,2
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0,2014,June,2
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0,2016,September,3
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0,2016,January,1
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0,2014,October,4

In [25]:
# Convert float to int for 'YearBuilt'
# Cannot convert non-finite values (NA or inf) to integer = Missing Numbers

df['YearBuilt'] = df['YearBuilt'].astype('int64')
df.head()

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [26]:
# To fill the missing values in 'YearBuilt'
df['YearBuilt'] = df['YearBuilt'].fillna(0)

In [27]:
# Convert to int

df['YearBuilt'] = df['YearBuilt'].astype('int64')
df.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,Year,Month,Quarter
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,168200.0,235700.0,1986,3.0,3.0,0.0,2013,April,2
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,264100.0,319000.0,1998,3.0,3.0,2.0,2014,June,2
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,216200.0,298000.0,1987,4.0,3.0,0.0,2016,September,3
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,147300.0,197300.0,1985,3.0,3.0,0.0,2016,January,1
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,152300.0,202300.0,1984,4.0,3.0,0.0,2014,October,4

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56147 entries, 0 to 56476
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UniqueID         56147 non-null  int64
 1   ParcelID         56147 non-null  object
 2   LandUse          56147 non-null  object
 3   PropertyAddress  56118 non-null  object
 4   SaleDate         56147 non-null  object
 5   SalePrice        56147 non-null  object
 6   LegalReference   56147 non-null  object
 7   SoldAsVacant     56147 non-null  object
 8   OwnerName        25121 non-null  object
 9   OwnerAddress     25875 non-null  object
 10  Acreage          25875 non-null  float64
 11  TaxDistrict      25875 non-null  object
 12  LandValue        25875 non-null  float64
 13  BuildingValue    25875 non-null  float64
 14  TotalValue       25875 non-null  float64
 15  YearBuilt        56147 non-null  int64
 16  Bedrooms         24023 non-null  float64
 17  FullBath         24141 non-null  float64
 18  HalfBath         24010 non-null  float64
 19  Year             56147 non-null  int64
 20  Month            56147 non-null  object
 21  Quarter          56147 non-null  int64
dtypes: float64(7), int64(4), object(11)
memory usage: 9.9+ MB